{% extends "main.html" %}

{% block content %}

<main role="main" class="container">
<div class="jumbotron">
<div class="title center">
    <h2>Editar juego</h2>
</div>
<div class="row">
    <form class="col s12" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-8">
                <label for="titulo">Titulo</label>
                <input required id="titulo" name="titulo" type="text" class="form-control" value="{{ juego.titulo }}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label for="plataforma">Plataforma</label>
                <input id="plataforma" name="plataforma" type="text" class="form-control" value="{{ juego.plataforma }}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <label for="nota">Nota</label>
                <input id="nota" name="nota" type="number" class="form-control" max="10" min="0" value="{{ juego.nota }}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <label for="desarrolladora">Desarrolladora</label>
                <input id="desarrolladora" name="desarrolladora" type="text" class="form-control" value="{{ juego.desarrolladora }}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <label for="portada">Portada</label>
                <input id="portada" name="portada" type="file" accept="image/*" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <button class="btn-flat amber darken-2 white-text" type="Submit" name="Submit">Guardar cambios</button>
            </div>
        </div>
    </form>
</div>
    </div>

</main>

{% endblock %}